/* Reset default styles to ensure consistency across browsers */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set up the body element with a clean background and font */
body {
  font-family: 'Menlo', monospace;
  background-color: #1a1a1a; /* Dark background color */
  color: #f2f2f2; /* Light text color */
  line-height: 1.6;
  display: flex;
  flex-direction: column; /* Align children vertically */
  min-height: 100vh; /* Ensure the body takes at least the full viewport height */
}

/* Create a clean header */
header {
  background-color: #007bff;
  color: #fff;
  padding: 10px 0;
  text-align: center; /* Center the main header text */
}

/* Style the main heading */
header h1 {
  font-size: 24px;
  margin: 0;
}

/* Add some spacing and style for the container */
.container {
  margin: 0;
  padding: 0;
  flex: 1; /* Allow the container to grow and push the footer to the bottom */
}

/* Style the issue cards vertically */
#issues {
  display: flex;
  flex-direction: column; /* Display issues vertically */
  align-items: center; /* Center the issue cards horizontally */
  gap: 20px; /* Add spacing between the issues */
}

.issue-card {
  background-color: #333; /* Dark color for issue card background */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 20px;
  max-width: 600px; /* Set a maximum width for the issue cards */
  width: 100%; /* Make the issue cards take full width */
}

.issue-card h2 {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: left; /* Align the issue card headers to the left */
}

/* Apply styles to links */
a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  color: #0056b3;
}

/* Create a clean and modern footer */
footer {
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

/* CSS for the code box with black background and neon green text */
.issue-body-code {
  font-family: 'Menlo', monospace;
  background-color: black;
  color: #39ff14; /* Neon green */
  padding: 10px;
  overflow-x: auto; /* Enable horizontal scrolling for code overflow */
  border-radius: 5px;
  display: none; /* Hide the code box by default */
}

/* CSS for the code box when expanded */
.issue-body-code.expanded {
  display: block; /* Show the code box when expanded */
}

/* CSS for the toggle button */
.code-box-container button {
  background-color: #1a1a1a;
  color: #39ff14; /* Neon green */
  border: none;
  padding: 0px 5px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 14px;
}

.code-box-container button:hover {
  background-color: #1a1a1a;
}

/* Add more CSS rules as needed for other elements */
